[:find
 (pull
   ?commit
   [:schema/entity-type
    {(:git.ref/_commit :as :git.ref/refs) [:git.ref/name
                                           :git.ref/type]}
    {:git.commit/repo [:git.repo/name
                       :git.repo/default-branch
                       {:git.repo/org [:github.org/installation-token
                                       :git.org/name
                                       (:git.org/provider-base-url
                                         :as
                                         :base-url)
                                       :git.provider/url]}]}
    {:git.commit/author [:git.user/name
                         :git.user/login
                         {:git.user/emails [:email.email/address]}]}
    :git.commit/sha
    :git.commit/message])
 (pull
   ?docker-image
   [:schema/entity-type
    :docker.image/digest
    :docker.image/tags
    :docker.image/sha
    {(:docker.platform/_image :as :docker.image/platform) [:docker.platform/architecture
                                                           :docker.platform/os]}
    {:docker.image/labels [:docker.image.label/name
                           :docker.image.label/value]}
    {:docker.image/repository [:docker.repository/host
                               (:docker.repository/repository
                                 :as
                                 :name)]}])
 (pull
   ?default-docker-image
   [:schema/entity-type
    :docker.image/digest
    :docker.image/tags
    :docker.image/sha
    {(:docker.platform/_image :as :docker.image/platform) [:docker.platform/architecture
                                                           :docker.platform/os]}
    {:docker.image/labels [:docker.image.label/name
                           :docker.image.label/value]}
    {:docker.image/repository [:docker.repository/host
                               (:docker.repository/repository
                                 :as
                                 :name)]}])
 (pull
   ?docker-registry
   [:db/id
    :schema/entity-type
    :docker.registry/type
    :docker.registry/secret
    :docker.registry/username
    :docker.registry/server-url])
 :in $ $before-db % ?ctx
 :where
 (attributes-tx ?ctx ?docker-image :docker.image/digest _)

 (or-join [?docker-registry]
   (skill-capability-configuration ?ctx
     "atomist"
     "DockerRegistry"
     "analysis"
     ?docker-registry)
   [(ground "empty") ?docker-registry])

 [?docker-image :docker.image/sha ?sha]
 [?docker-image :docker.image/repository ?repository]
 [?commit :git.commit/sha ?sha]

 (or-join [?commit ?repository ?default-docker-image]
   (and
     [?commit :git.commit/repo ?repo]
     [?repo :git.repo/default-branch ?default-branch-name]
     [?default-branch :git.ref/repo ?repo]
     [?default-branch :git.ref/type :git.ref.type/branch]
     [?default-branch :git.ref/name ?default-branch-name]
     [?default-branch :git.ref/commit ?default-head-commit]
     [?default-head-commit :git.commit/sha ?default-head-commit-sha]
     [?default-docker-image :docker.image/sha ?default-head-commit-sha]
     [?default-docker-image :docker.image/repository ?repository])
   [(ground "empty") ?default-docker-image])]
