[:find
 (pull
   ?discovery
   [:schema/entity-type
    :analysis.discovery/status
    :analysis.discovery/source])
 (pull
   ?commit
   [:schema/entity-type
    {(:git.ref/_commit :as :git.ref/refs) [:git.ref/name
                                           :git.ref/type]}
    {:git.commit/repo [:git.repo/name
                       :git.repo/default-branch
                       {:git.repo/org [:github.org/installation-token
                                       :git.org/name
                                       (:git.org/provider-base-url
                                         :as
                                         :base-url)
                                       :git.provider/url]}]}
    {:git.commit/author [:git.user/name
                         :git.user/login
                         {:git.user/emails [:email.email/address]}]}
    :git.commit/sha
    :git.commit/message])
 (pull
   ?image
   [:schema/entity-type
    :docker.image/digest
    :docker.image/sha
    {:docker.image/layers [{:docker.image.layer/blob [:docker.image.blob/digest
                                                      {:docker.image.blob/vulnerabilities [:vulnerability.cve/source-id]}]}]}
    {:docker.image/docker-file [:docker.file/path
                                :docker.file/sha
                                {(:docker.file.line/_file :as :docker.file.line/lines) [:docker.file.line/number
                                                                                        :docker.file.line/instruction
                                                                                        :docker.file.line/args-map
                                                                                        :docker.file.line/args-array
                                                                                        :docker.file.line/args-string
                                                                                        :docker.file.from/tag
                                                                                        :docker.file.from/digest
                                                                                        {(:docker.image.blob/_created-by :as :docker.image.blob/layers) [:docker.image.blob/digest]}
                                                                                        {:docker.file.from/image [:docker.image/digest
                                                                                                                  :docker.image/tags
                                                                                                                  {:docker.image/distro [:os.distro/name
                                                                                                                                         :os.distro/version
                                                                                                                                         (:os.distro/os-id :as :os.distro/id)
                                                                                                                                         (:os.distro/os-id-like :as :os.distro/id-like)]}
                                                                                                                  {:docker.image/package-manager [:os.package-manager/type
                                                                                                                                                  :os.package-manager/sources]}
                                                                                                                  {(:docker.platform/_image :as :docker.platform/platform) [:docker.platform/os
                                                                                                                                                                            :docker.platform/variant
                                                                                                                                                                            :docker.platform/architecture]}]}
                                                                                        {:docker.file.from/manifest-list [:docker.manifest-list/digest
                                                                                                                          :docker.manifest-list/tags
                                                                                                                          {:docker.manifest-list/images [:docker.image/digest
                                                                                                                                                         :docker.image/tags
                                                                                                                                                         {:docker.image/distro [:os.distro/name
                                                                                                                                                                                :os.distro/version
                                                                                                                                                                                (:os.distro/os-id :as :os.distro/id)
                                                                                                                                                                                (:os.distro/os-id-like :as :os.distro/id-like)]}
                                                                                                                                                         {:docker.image/package-manager [:os.package-manager/type
                                                                                                                                                                                         :os.package-manager/sources]}
                                                                                                                                                         {(:docker.platform/_image :as :docker.platform/platform) [:docker.platform/os
                                                                                                                                                                                                                   :docker.platform/variant
                                                                                                                                                                                                                   :docker.platform/architecture]}]}]}
                                                                                        {:docker.file.from/repository [:docker.repository/host
                                                                                                                       (:docker.repository/repository
                                                                                                                         :as
                                                                                                                         :name)]}]}]}
    {:docker.image/repository [:docker.repository/host
                               (:docker.repository/repository
                                 :as
                                 :name)
                               {(:vulnerability.cve.baseline/_on
                                  :as
                                  :baseline) [{:vulnerability.cve.baseline/vulnerabilities [:vulnerability.cve/source-id
                                                                                            :vulnerability.cve/severity
                                                                                            :vulnerability.cve/fix-available
                                                                                            {:docker.analysis/affected [:docker.analysis.package/name
                                                                                                                        :docker.analysis.package/version]}]}]}]}
    {:docker.analysis/vulnerabilities [:vulnerability.cve/source-id
                                       :vulnerability.cve/severity
                                       :vulnerability.cve/title
                                       :vulnerability.cve/description
                                       :vulnerability.cve/cvss-score
                                       :vulnerability.cve/fix-available
                                       {:docker.analysis/affected [:docker.analysis.package/name
                                                                   :docker.analysis.package/version]}
                                       {:docker.analysis/fixed [:docker.analysis.package/name
                                                                :docker.analysis.package/version]}]}])
 (pull
   ?default-commit-image
   [:schema/entity-type
    :docker.image/digest
    :docker.image/sha
    {:docker.analysis/vulnerabilities [:vulnerability.cve/source-id
                                       :vulnerability.cve/severity
                                       :vulnerability.cve/fix-available
                                       {:docker.analysis/affected [:docker.analysis.package/name
                                                                   :docker.analysis.package/version]}]}])
 :in $ $before % ?ctx
 :where
 (attributes-tx ?ctx ?blob :docker.image.blob/created-by ?docker-file-line)

 [?docker-file-line :docker.file.line/file ?docker-file]
 [?image :docker.image/docker-file ?docker-file]

 [?discovery :analysis.discovery/image ?image]
 [?discovery
  :analysis.discovery/status
  :analysis.discovery.status/FINISHED_SUCCESS]

 [?image :docker.image/sha ?sha]
 [?commit :git.commit/sha ?sha]
 [?commit :git.commit/repo ?repo]
 [?repo :git.repo/default-branch ?default-branch-name]
 [?default-branch :git.ref/repo ?repo]
 [?default-branch :git.ref/type :git.ref.type/branch]
 [?default-branch :git.ref/name ?default-branch-name]
 [?default-branch :git.ref/commit ?default-head-commit]
 [?default-head-commit :git.commit/sha ?default-head-commit-sha]
 [?default-commit-image :docker.image/sha ?default-head-commit-sha]]
