[:find
 (pull
   ?commit
   [:schema/entity-type
    {(:git.ref/_commit :as :git.ref/refs) [:git.ref/name
                                           :git.ref/type]}
    {:git.commit/repo [:git.repo/name
                       :git.repo/default-branch
                       {:git.repo/org [:github.org/installation-token
                                       :git.org/name
                                       (:git.org/provider-base-url
                                         :as
                                         :base-url)
                                       :git.provider/url]}]}
    {:git.commit/author [:git.user/name
                         :git.user/login
                         {:git.user/emails [:email.email/address]}]}
    :git.commit/sha
    :git.commit/message])
 (pull
   ?docker-image
   [:schema/entity-type
    :docker.image/digest
    :docker.image/tags
    {:docker.image/labels [:docker.image.label/name
                           :docker.image.label/value]}
    {:docker.image/repository [:docker.repository/host
                               (:docker.repository/repository
                                 :as
                                 :name)]}])
 (pull
   ?docker-file
   [:db/id
    :schema/entity-type
    :docker.file/path
    :docker.file/sha
    {(:docker.file.line/_file :as :docker.file/lines) [:docker.file.line/number
                                                       :docker.file.line/instruction
                                                       :docker.file.line/args-map
                                                       :docker.file.line/args-array
                                                       :docker.file.line/args-string]}])
 (pull
   ?docker-registry
   [:db/id
    :schema/entity-type
    :docker.registry/type
    :docker.registry/secret
    :docker.registry/username
    :docker.registry/server-url])
 :in $ $before-db % ?ctx
 :where
 (attributes-tx ?ctx ?docker-image :docker.image/docker-file ?docker-file)
 (or-join [?docker-registry ?ctx]
   (skill-capability-configuration ?ctx
     "atomist"
     "DockerRegistry"
     "analysis"
     ?docker-registry)
   [(ground "empty") ?docker-registry])
 [?docker-image :docker.image/sha ?sha]
 [?commit :git.commit/sha ?sha]]
