[:find
 (pull
   ?docker-image
   [:schema/entity-type
    :docker.image/digest
    :docker.image/tags
    :docker.image/sha
    {(:docker.platform/_image :as :docker.image/platform) [:docker.platform/architecture
                                                           :docker.platform/os]}
    {:docker.image/labels [:docker.image.label/name
                           :docker.image.label/value]}
    {:docker.image/repository [:docker.repository/host
                               (:docker.repository/repository
                                 :as
                                 :name)]}])
 (pull
   ?docker-registry
   [:db/id
    :schema/entity-type
    :docker.registry/type
    :docker.registry/secret
    :docker.registry/username
    :docker.registry/server-url])
 :in
 $
 $before-db
 %
 :where
 (tx-entity-attr-value :docker.image/digest ?docker-image _)
 (or-join [?docker-registry]
   (capability-configuration
     "atomist"
     "DockerRegistry"
     "analysis"
     ?docker-registry)
   [(ground "empty") ?docker-registry])
 [(missing? $ ?docker-image :docker.image/sha)]]
