[:find
 (pull
  ?commit
  [:schema/entity-type
   {:git.commit/repo [:git.repo/name
                      :git.repo/default-branch
                      {:git.repo/org [:github.org/installation-token
                                      :git.org/name
                                      (:git.org/provider-base-url
                                       :as
                                       :base-url)
                                      :git.provider/url]}]}
   {:git.commit/author [:git.user/name
                        :git.user/login
                        {:git.user/emails [:email.email/address]}]}
   :git.commit/sha
   :git.commit/message])
 (pull
  ?docker-image
  [:schema/entity-type
   :docker.image/image
   :docker.image/digest
   :docker.image/tags
   {:docker.image/labels [:docker.image.label/name
                          :docker.image.label/value]}
   {:docker.image/repository [:docker.repository/host
                              (:docker.repository/repository
                               :as
                               :name)]}])
 (pull
  ?docker-file
  [:schema/entity-type
   :db/id
   :docker.file/path
   :docker.file/sha
   {(:docker.file.line/_file :as :docker.file/lines) [:docker.file.line/number
                                                      :docker.file.line/instruction
                                                      :docker.file.line/args-map
                                                      :docker.file.line/args-array
                                                      :docker.file.line/args-string]}])
 (pull
  ?docker-registry
  [:schema/entity-type
   :docker.registry/type
   :docker.registry/secret
   :docker.registry/username
   :docker.registry/server-url])
 :in
 $
 $before-db
 %
 :where
 (tx-entity-attr-value
  :docker.image/docker-file
  ?docker-image
  ?docker-file)
 (capability-configuration
  "atomist"
  "DockerRegistry"
  "analysis"
  ?docker-registry)
 [?docker-image :docker.image/sha ?sha]
 [?commit :git.commit/sha ?sha]]
