[:find
 (pull
  ?discovery
  [:schema/entity-type
   :analysis.discovery/status
   :analysis.discovery/source])
 (pull
  ?commit
  [:schema/entity-type
   {:git.commit/repo [:git.repo/name
                      :git.repo/default-branch
                      {:git.repo/org [:github.org/installation-token
                                      :git.org/name
                                      (:git.org/provider-base-url
                                       :as
                                       :base-url)
                                      :git.provider/url]}]}
   {:git.commit/author [:git.user/name
                        :git.user/login
                        {:git.user/emails [:email.email/address]}]}
   :git.commit/sha
   :git.commit/message])
 (pull
  ?image
  [:schema/entity-type
   :docker.image/digest
   :docker.image/sha
   {:docker.image/layers [{:docker.image.layer/blob [:docker.image.blob/digest
                                                     {:docker.image.blob/created-by [{:docker.file.line/file [:docker.file/path :docker.file/sha]}
                                                                                     :docker.file.line/number
                                                                                     :docker.file.line/instruction
                                                                                     :docker.file.line/args-map
                                                                                     :docker.file.line/args-array
                                                                                     :docker.file.line/args-string]}
                                                     {:docker.image.blob/vulnerabilities [:vulnerability.cve/source-id]}]}]}
   {:docker.image/docker-file [:docker.file/path :docker.file/sha]}
   {:docker.image/repository [:docker.repository/host
                              (:docker.repository/repository
                               :as
                               :name)
                              {(:vulnerability.cve.baseline/_on
                                :as
                                :baseline) [{:vulnerability.cve.baseline/cves [:vulnerability.cve/source-id
                                                                               :vulnerability.cve/severity]}]}]}
   {:docker.analysis/vulnerabilities [:vulnerability.cve/source-id
                                      :vulnerability.cve/severity
                                      :vulnerability.cve/title
                                      :vulnerability.cve/description
                                      :vulnerability.cve/cvss-score
                                      :vulnerability.cve/fix-available
                                      {:docker.analysis/affected [:docker.analysis.package/name
                                                                  :docker.analysis.package/version]}
                                      {:docker.analysis/fixed [:docker.analysis.package/name
                                                               :docker.analysis.package/version]}]}])
 (pull
  ?default-commit-image
  [:schema/entity-type
   :docker.image/digest
   :docker.image/sha
   {:docker.image/docker-file [:docker-file/path]}
   {:docker.image/repository [:docker.repository/host
                              (:docker.repository/repository
                               :as
                               :name)
                              {(:vulnerability.cve.baseline/_on
                                :as
                                :baseline) [{:vulnerability.cve.baseline/cves [:vulnerability.cve/source-id
                                                                               :vulnerability.cve/severity]}]}]}
   {:docker.analysis/vulnerabilities [:vulnerability.cve/source-id
                                      :vulnerability.cve/severity]}])
 :in
 $
 $before
 %
 :where
 (tx-entity-attr-value :analysis.discovery/status ?discovery ?status)
 [?discovery
  :analysis.discovery/status
  :analysis.discovery.status/FINISHED_SUCCESS]
 [?discovery
  :analysis.discovery/source
  :analysis.discovery.source/TRIVY]

 [?discovery :analysis.discovery/image ?image]
 [?image :docker.image/sha ?sha]
 [?commit :git.commit/sha ?sha]
 [?commit :git.commit/repo ?repo]
 [?repo :git.repo/default-branch ?default-branch-name]
 [?default-branch :git.ref/repo ?repo]
 [?default-branch :git.ref/type :git.ref.type/branch]
 [?default-branch :git.ref/name ?default-branch-name]
 [?default-branch :git.ref/commit ?default-head-commit]
 [?default-head-commit :git.commit/sha ?default-head-commit-sha]
 [?default-commit-image :docker.image/sha ?default-head-commit-sha]]
